header, footer, nav, .nav2, forecast, article, summary, pictures {
        border: 1px solid black;
        padding: 0.25em;
        margin: 0.25em;
        border-radius: 0.25em;
      }

 html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
      }
body {
    background-color: black;        
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:         flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
     }
header {    
    width: 99%;
    flex-wrap: wrap;
    background-color: darkblue;
    color: white;
    margin: auto;
}
header img {
    align-self: flex-start;
    width:20%;
    margin: 0px 0px -100px 0px;
    float: left
    
}
header h1{
    font-family: 'Cinzel Decorative', serif;
    font-size: 75%;
    margin-left: 27%;
    

}
header .sub {
    font-size: 50%;
    text-align: center;

    
}
nav {    
    background-color: lightblue;
    text-align: center;
    width: 97%;
    margin: auto;        
}

.button {
    background-color: darkblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.nav2{display: none;}
.navagation2{display: none;}
.nav {
    position: relative;
    display: inline-block;
}

.navigation {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navigation a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navigation a:hover {background-color:gray}

.nav:hover .navigation {
    display: block;
}

.nav:hover .button {
    background-color: black;
}

main {
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: antiquewhite
}
main h2{
    font-family: 'Cinzel Decorative', serif;
    font-size:100%;
    text-align: center;    
}

main h3{
    font-family: 'Cinzel Decorative', serif;
    font-size:100%;
    text-align: center;
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: .25em;
    
}

.summary {
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}
.current {
    font-size: 150%;
}

forecast {display: none;}

article {
    -webkit-flex: 5;
    -moz-flex: 5;
    -ms-flex: 5;
    flex: 5;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    background-color: beige;
    
      }
article img {
    float: left;
}



/* Gallery Stuff */

.pictures {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: auto;
    margin-top: 10px;    
    margin-bottom: 10px;
    color: white;
    font-size: .8rem;
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two { 
  grid-column: 1;
  grid-row: 2;
}
.three {
  grid-column: 1;
  grid-row: 3;
}
.four {
  grid-column: 1;
  grid-row: 4;
}
.five {
  grid-column: 1;
  grid-row: 5;
}
.six {
  grid-column: 1;
  grid-row: 6;
}


footer {

  right: 0;
  bottom: 0;
  left: 0;
    height: 100px;
    padding: 1rem;
    width: 99%;
    background-color: darkblue;
    color: white;
    font-size: 60%;
    margin: auto;
    text-align: center;

}
.footer-bar {font-size: 80%;}