@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  
header h1 {
     font-size: 3rem;
}
header .subheading {
    font-size: 2rem;
}


nav button {display: none;}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav ul li a:hover {
    background-color: whitesmoke;
    color: black;
}
nav.icon {
    display: none;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightskyblue;
}
nav ul li {
    float: left;
    border-right: 1px solid;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li.active a {
    background-color: darkblue;
}


    
    article p.town-article img { 
    max-width: 100%; /* fill the page in the small/phone view */
    height: auto;
    float: left;
    margin: 0px 0px 15px 20px 
    }
  
}

